#header
{    
    text-align: center;
}
#cuerpo
{
    background-color: 0099cc;
    text-align: center;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;    
}
#cuerpo1
{
    text-align: center;
}
/*#footer
{
    margin-top: 35%;
    text-align: right;
    height: 20px;
    font-family: "Times New Roman";
}*/
p
{
    font-size: 20px;
}
h1
{
    text-align: center;
}